[user]
    name = {{ username }}
    email = {{ email }}

[core]
    editor = vim
    autocrlf = input

[push]
    default = simple

[merge]
    tool = vimdiff

[color]
    ui = auto

[diff]
    tool = vimdiff